     body {
      background-color: #3929a3;
      background-image: linear-gradient(25deg, #3929a3, #4133a1);
      font-family: 'Lexend', sans-serif;
      color: white;
      margin: 0;
      overflow-x: hidden; /* Disable horizontal scrolling */
      overflow-y: hidden; /* Disable vertical scrolling */
    }
    h1 {
      text-align: center;
      font-style: italic;
      margin-top: 0;
    }
    #header {
      background-color: #2b1f7a;
      background-image: linear-gradient(85deg, #2b1f7a, #5d4ec4);
      height: 75px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      position: relative;
    }
    #header h1 {
      margin: 0;
    }
    #header h1 a {
      color: white;
      text-decoration: none;
    }
    .container {
      position: absolute;
      top: 100px; /* Spaced below the header */
      left: 20px; /* Spaced from the left of the screen */
      display: flex;
      margin-right: 165px;
      flex-wrap: wrap; /* Allow buttons to wrap into multiple rows */
      flex-direction: row; /* Align buttons horizontally */
    }
    .button-container {
      border-radius: 10px;
      border: none;
      padding: 12.5px 20px; /* Keep the original button size */
      color: white;
      background-color: #0b1d42;
      margin: 12.5px; /* Add margin between buttons */
      transition: transform 0.2s, background-color 0.2s; /* Add transition for hover and click effects */
      width: 135px;
      height: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; /* Add this line to center the content vertically */
      text-align: center;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
    .button-container img {
      width: calc(100% - 25px); /* Subtract the desired margin from the width */
      height: calc(100% - 25px);
      object-fit: contain;
      margin-bottom: 6px; /* Add the desired margin */
    }
    .button-list .button-text {
      transform: translateY(-35%); /* Vertically center the text */
      font-family: 'Lexend', sans-serif;
    }
    .button-container-header {
      position: absolute;
      top: 5px;
      right: 20px; /* Spaced from the left of the screen */
      display: flex;
      flex-wrap: wrap; /* Allow buttons to wrap into multiple rows */
      flex-direction: row; /* Align buttons horizontally */
    }
    .button-container-header button {
      border-radius: 10px;
      border: none;
      padding: 12.5px 20px; /* Keep the original button size */
      color: white;
      background-color: #0b1d42;
      margin: 12.5px; /* Add margin between buttons */
      transition: transform 0.2s, background-color 0.2s; /* Add transition for hover and click effects */
    }
    #button-container button:hover {
      background-color: #0d2e5b;
      transform: scale(1.05);
    }
    #button-container-header button:hover {
      background-color: #0d2e5b;
      transform: scale(1.05);
    }
    #sidebar {
      position: absolute;
      top: 100px; /* Spaced below the header */
      right: -250px; /* Initially off the screen */
      background-color: #2b1f7a; /* Box color between header and body */
      padding: 10px;
      border-radius: 10px; /* Rounded corners for the box */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 125px; /* Narrower width */
      height: 200px; /* Shorter height */
      transition: right 0.5s; /* Add transition for smooth sliding */
    }
    #sidebar.open {
      right: 20px; /* Slide into open position */
      overflow-x: hidden; /* Disable horizontal scrolling */
      overflow-y: hidden; /* Disable vertical scrolling */
    }
    #sidebar h2 {
      color: white;
      margin: 0;
      text-align: center;
      margin-bottom: 10px;
    }
    #sidebar button {
      display: block;
      border: none;
      border-radius: 10px;
      padding: 10px 30px; /* Wider buttons */
      margin: 10px 0; /* Add margin between buttons */
      background-color: #0b1d42;
      color: white;
      text-align: center;
      text-decoration: none;
      transition: transform 0.2s, background-color 0.2s; /* Add transition for hover and click effects */
    }
    #sidebar button:hover {
      background-color: #0d2e5b;
      transform: scale(1.05);
    }
    #content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 200px); /* Adjust height as needed */
    }
