html,
body {
	       overflow-x: hidden;
	       -webkit-user-select: none;
	       user-select: none;
	       -webkit-touch-callout: none;
	       cursor: inherit;
        }

        body {
	       background: black;
	       color: white;
	       padding: 0;
	       margin: 0;
	       width: 100vw;
	       height: 100vh;
	       font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        #bottom-text {
               border: 2px solid #ffffff;
               border-radius: 6px;
               color: #fff;
               background-color: #161f27;
               font-family: inherit;
               font-size: inherit;
               position: fixed;
               bottom: 40px;
               left: 50%;
               transform: translate(-50%, 50%);
               width: 81.5%;
               text-align: center;
               padding: 5px; /* Reduce the padding to create a 5px gap */
               box-sizing: border-box; /* Include the border in the width calculation */
               box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }

        select {
               margin-right: 6px;
               margin-bottom: 6px;
               border: 2px solid #ffffff;
               border-radius: 6px;
               padding: 10px;
	       color: #dbdbdb;
	       background-color: #161f27;
               font-family: system-ui, -apple-system, sans-serif;
               font-size: inherit;
	       box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }

        .container {
               display: flex;
               justify-content: space-between;
               align-items: flex-start;
               padding: 20px;
        }

        .container .button-list:not(:last-child) {
               margin-right: 5%; /* Reduce the right margin by 15% */
        }

        .button-list {
               color: #fff;
               background-color: #161f27;
               font-family: inherit;
               font-size: inherit;
               padding: 0; /* Remove the padding */
               border: 2px white solid;
               border-radius: 6px;
               outline: none;
               height: 75%;
               width: 25%;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center; /* Add this line to center the content vertically */
               text-align: center;
               box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }

        .button-list img {
               border-radius: 6px;
               width: calc(100% - 20px); /* Subtract the desired margin from the width */
               height: auto;
               object-fit: contain;
               margin: 10px; /* Add the desired margin */
	}

	.button-list .button-text {
		transform: translateY(-35%); /* Vertically center the text */
	}
		
	canvas {
		position: absolute;
		z-index: 1;
		image-rendering: pixelated;
	}
		
	#msg-layer {
		position: absolute;
		left: 0;
		width: 100%;
		top: 40vh;
		background: rgba(0, 0, 0, 0.5);
		z-index: 3;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	}
		
	#vk-layer {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%
		height: 100%;
		z-index: 2;
		touch-action: none;
	}
		
	#menu {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
		overflow: hidden scroll;
		background: rgba(0, 0, 0, 0.8);
	}
		
	#menu button {
		background: transparent;
	}
		
	#menu button:active {
		background: rgba(255, 255, 255, 0.5);
	}
		
	a,
	a:visited {
		color: white;
	}
		
	.vk-rectangle {
		text-align: center;
		vertical-align: middle;
		border-radius: 2.5% !important;
		display: inline-block;
	}
	
	.vk-round {
		text-align: center;
		vertical-align: right;
		border-radius: 50% !important;
		display: inline-block;
	}
		
	.vk {
		color: rgba(0, 0, 0, 0.2);
		background-color: rgba(255, 255, 255, 0.25);
		position: absolute;
		z-index: 1;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
		text-align: center;
		vertical-align: middle;
		border-radius: 15%;
		display: inline-block;
	}
		
	.vk-touched {
		background-color: rgba(255, 255, 255, 0.75) !important;
	}
		
	.link {
		text-decoration: none;
                font-weight: italic;
	}
